* {
  margin: 0;
  padding: 0;
}

.nav-menu {
  padding: 12px 100px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.div1 {
  display: flex;
  margin-right: 1px;
  padding-right: 15px;
}

.div2 ul {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  font-family: "Franklin Gothic Medium", sans-serif;
  list-style: none;
  margin-top: 5px;
  font-size: 20px;
  position: relative;
}

.div2 ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #f8a02e;
  display: block;
  margin: auto;
  transition: 0.8s;
}

.div2 ul li:hover::after {
  width: 100%;
}

nav {
  padding: 2% 6%;
  display: flex;
  justify-content: space-between;
}

.active2 {
  color: blue !important;
}

.div2 a {
  text-decoration: none;
  color: hsl(0, 2%, 44%);
}

.cry {
  color: rgb(11, 11, 11);
  display: flex;
  font-family: "Franklin Gothic Medium", sans-serif;
  margin-right: 50px;
  padding-right: 10px;
}

.favour a {
  text-decoration: none;
  color: black;
}

.favour {
  display: flex;
  gap: 7px;
}

.favour button {
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 13px;
  transition: 0.3s;
  text-decoration: none;
}

.favour button:hover {
  background-color: rgb(36, 54, 171);
  transition: 0.8s;
}


.fav1,
.fav2 {
  padding: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.fav3 {
  background-color: rgb(250, 179, 48);
  border: none;
}

.hero {
  text-transform: capitalize;
  padding: 150px 100px 0;
  width: 50%;
  font-family: "Franklin Gothic Medium", sans-serif;
}

.hero p {
  text-align: start;
  padding: 15px 0 0;
  width: 70%;
}

.hero h2 {
  font-size: 30px;
}

.gab1 {
  margin: 25px 0px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: rgb(251, 191, 81);
  border: none;
}

.img2 img {
  width: 100%;
}

.img2 {
  width: 50%;
}

.heroro {
  display: flex;
}

.gab1 a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.gab1:hover {
  border-top: solid #2c2b2b 4px;
}

.secondhero {
  padding-top: 80px;
  display: flex;
}

.food {
  text-transform: capitalize;
  padding: 0px 100px 0;
  width: 50%;
  font-family: "Franklin Gothic Medium", sans-serif;
}

.food h3 {
  font-size: 30px;
}

.food p {
  text-align: start;
  padding: 15px 0 0;
  width: 70%;
}

.abobo button {
  padding: 10px 15px;
  margin: 0 2px;
  border-radius: 12px;
  background-color: white;
  width: 20%;
}



.abobo {
  width: 50%;
}

.abobo a {
  text-decoration: none;
}

.active {
  background-color: rgb(251, 184, 61) !important;
  padding: 10px 25px !important;
}

.abobo button:hover {
  background-color: rgb(250, 167, 51);
  border-top: solid #2c2b2b 6px;
  transition: 1.1s;
}

.products {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.product-card {
  width: 25%;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.stars img {
  width: 15%;
  margin-top: 1px;
}

.stars {
  justify-content: center;
  display: flex;
  margin: 10px 0 0;
}

.product-card h5 {
  text-transform: capitalize;

}

/* services hero */
.services-hero {
  display: flex;
  text-transform: capitalize;
  gap: 400px;
  padding: 80px 100px 0;
  background-image: url(./img/bkg2.JPG);
  background-position: center;

}

.svs {
  width: 30%;
}

.svs h1 {
  font-size: 55px;
  padding: 25px 15px;
}

.svs p {
  font-size: 19px;
  line-height: 1.1;
}

.bt {
  padding: 8px 40px;
  margin: 30px 100px 0;
  background-color: #05b405;
  border-radius: 5px;
}

.bt a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.bt:hover {
  border-top: solid #000000 7px;
  border-left: solid #000000 7px;
  background-color: #f41111;
  transition: 1.0s;

}

.ser-img img {
  width: 100%;
  border-radius: 30px;
}

/* food hero */
.food-hero {
  text-transform: capitalize;
  padding: 0px 150px 0;
}

body {
  background-color: rgb(247, 248, 248);
}

.food-hero h1 {
  text-align: center;
  padding: 50px;
  cursor: pointer;
  font-size: 50px;
  transition: 0.9s;
}

.food-hero h1:hover {
  scale: 1.4;
}

.food-img,
.wraps {
  gap: 70px;
  width: 50%;

}

.food-img img {
  width: 70%;
  border-radius: 6%;
  cursor: pointer;

}

.food-img img:hover {
  border: solid transparent 8px;
  scale: 1.2;
  transition: 0.5s;
}

.wraps img:hover {
  scale: 1.3;
  transition: 0.6s;
}

.wraps img {
  width: 60%;
  padding: 140px 0 0;
  transform: rotate(-20deg);
  cursor: pointer;

}

.foood-im {
  display: flex;
  width: 100%;
}

.food-img h5 {
  text-align: center;
  padding: 10px 100px 0 0;
  font-size: 25px;
  color: #05b405;
  font-family: 'Gill Sans', sans-serif;
}

.wraps h5 {
  text-align: center;
  padding: 30px 100px 0 0;
  font-size: 25px;
  color: #05b405;
  font-family: 'Gill Sans', sans-serif;
}

/* shop hero */
.shop-hero {
  display: flex;
  padding: 50px 170px;
  gap: 80px;
  background-image: url(img/bkg2.JPG);

}

.shop-text {
  padding: 100px 0;
  width: 30%;

}

.shop-text h2 {
  font-size: 36px;
  font-family: cursive;
  padding: 0 0 30px;
}

.shop-text p {
  width: 80%;
  font-family: 'Gill Sans', sans-serif;
}

.shop-text a {
  text-decoration: none;
}

.shop-login {
  display: block;
  width: 50%;
  padding: 100px 50px;

}

.shop-login h3 {
  text-align: center;
  font-size: 35px;
  padding: 30px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: 250;
}

form {
  display: block;
  width: 70%;
  margin: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  border-radius: 8px;
  color: #000000;
  border: 2px solid #000000;
}


.sky {
  background-color: #05b405;
  padding: 10px 80px;
  width: 65%;
  margin: 50px 65px;
  border-radius: 8px;
  border: none;

}

.sky:hover {
  border-top: solid #000000 5px;
  transition: 0.9s;
}

form a {
  display: block;
  width: 100%;
  text-align: end;
  text-decoration: none;
}

/* mobile mode */
@media (max-width: 896px) {

  .heroro {
    display: block;
  }

  .hero {
    padding: 20px;
    width: 95%;
    text-align: center;

  }

  .hero h2 {
    font-size: 50px;

  }

  .hero p {
    text-align: center;
    padding: 10px 45px;
    line-height: 1.3;
  }

  .gab1 {
    margin: 5px;
  }

  .img2 img {
    padding: 10px 60px;
  }

  .img2 {
    width: 80%;
  }

  .secondhero {
    width: 100%;
    display: block;
  }

  .food {
    width: 100%;
    padding: 0px 1px 20px;
  }

  .food h3 {
    font-size: 50px;
    text-align: center;
  }

  .food p {
    font-size: 15px;
    width: 60%;
    text-align: center;
    padding: 10px 70px;
  }

  .abobo {
    width: 114%;
  }

  .abobo button {
    padding: 10px 20px;
  }

  .abobo button:hover {
    background-color: rgb(250, 167, 51);
    border-top: solid #2c2b2b 6px;
    transition: 1.1s;
  }

  .products {
    display: block;
    width: 100%;
    padding: 10px 50px;
  }

  .product-card {
    width: 80%;
    margin: 25px 0;
  }

  .stars img {
    width: 20px;
  }

  .stars p {
    margin: 3px;
  }


}